/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/stage-light2.jpg') no-repeat center center fixed;
  background-size: cover;
}
.head, .links {
  text-align: center;
}
.head {
  width: 95%;
  margin: 0 auto;
}
img {
  width: 12%;
  height: 12%;
  border-radius: 20px;
  padding: 0.1428%;
  background-color: #666;
  filter: grayscale(50%);
}
img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .4);
  border-radius: 45px;
  box-shadow: hsla(240, 100%, 85%, .8) 10px 10px 80px;
}
.profile-image {
  margin-top: 4.285%;
  margin-left: -64.285%;
}

/* Pozicionálás */

.profile-card {
  width: 51.2445%;
  max-width: calc(100vw - 10px);
}
.name-headline {
  margin-top: 4.285%;
  margin-left: -7.142%;
}
/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
.about {
  position: fixed;
}
.head {
  margin-bottom: 10%;
}
a {
  color: #5200cc;
  font-size: 2.1875rem;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1rem;
}
.content {
  margin-top: 0.57142%;
  margin-right: -57.142%;
}